
@{
    ViewBag.Title = "Tienda";
}
<link rel="stylesheet" href="~/Content/Styles2.css">
<div class="contenedor">
    <h3>Locales de Ventas</h3>
    <div>
        <div class="nuevas_cartas">
            <div>
                <img src="~/Img/garbarino-jujuy.jpg" alt="">
                <h5>Garbarino san salvador de jujuy</h5>
                <a href="#" class="btn radius">ver <span class="icon-home2"></span></a>
            </div>
            <div>
                <img src="~/Img/garbarino2.jpg" alt="">
                <h5>Garbarino Rio Gallegos</h5>
                <a href="#" class="btn radius">ver <span class="icon-home2"></span></a>
            </div>
            <div>
                <img src="~/Img/garbarino3.jpg" alt="">
                <h5>Garbarino Ciudad Autonoma de Buenos Aires </h5>
                <a href="#" class="btn radius">ver <span class="icon-home2"></span></a>
            </div>
            <div>
                <img src="~/Img/garbarino5.jpg" alt="">
                <h5>Garbarino Ushuaia</h5>
                <a href="#" class="btn radius">ver <span class="icon-home2"></span></a>
            </div>
            <div>
                <img src="~/Img/garbarino4.jpg" alt="">
                <h5>Garbarino Cordoba</h5>
                <a href="#" class="btn radius">ver <span class="icon-home2"></span></a>
            </div>
            <div>
                <img src="~/Img/gabarino6.jpg" alt="">
                <h5>Garbarino Rio Grande</h5>
                <a href="#" class="btn radius">ver <span class="icon-home2"></span></a>
            </div>
        </div>

    </div>
</div>
