<section class="social">
    <p>Siganos en la redes sociales</p>
    <div class="links">
        <a href="#">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="#">
            <i class="icon-instagram"></i>
        </a>

    </div>


</section>


<div class="footer-links">
    <div class="footer-contenido">
        <ul>
            <li>
                <a href="#">
                    <h3>Categorias</h3>
                </a>
            </li>
            <li>
                <a href="#">Televisores</a>
            </li>
            <li>
                <a href="#">Celulares libres</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="#">
                    <h3>Marcas</h3>
                </a>
            </li>
            <li>
                <a href="#">Samsung</a>
            </li>
            <li>
                <a href="#">Philips</a>
            </li>

        </ul>

        <ul>
            <li>
                <a href="#">
                    <h3>Servicios</h3>
                </a>
            </li>
            <li>
                <a href="#">Atencion al Cliente</a>
            </li>
            <li>
                <a href="#">Venta Telefonica</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">
                    <h3>Ayuda</h3>
                </a>
            </li>
            <li>
                <a href="#">Nuestras Sucursales</a>
            </li>
            <li>
                <a href="#">Centro de Ayuda</a>
            </li>

        </ul>
        <ul>
            <li>
                <a href="#">
                    <h3>Servicios para Empresas</h3>
                </a>
            </li>
            <li>
                <a href="#">Ventas de empresas</a>
            </li>
        </ul>

    </div>
</div>
<footer class="footer ">

    <p>&copy; @DateTime.Now.Year </p>
    <h3>Garbarino copyright©</h3>
</footer>
