
<header>
    <nav class="nav-principal">
        <img src="~/Img/descarga.jpg" alt="Garbarino LOGO" class="nav-marca">
        <ul class="nav-menu">
            <li>
                <a href="index.html"><span class="icon-home"></span>@Html.ActionLink("Inicio", "Inicio", "Inicio") </a>
            </li>
            <li>
                <a href="tienda.html"><span class="icon-industry"></span> @Html.ActionLink("Tienda", "Tienda", "Tienda")</a>
            </li>
            <li>
                <a href="Contactos.html"><span class="icon-bubbles2"></span> @Html.ActionLink("Contacto", "Contacto", "Contacto")</a>
            </li>

        </ul>
        
        <ul class="nav-menu-izq">
            <li>
            <li>
                <a href="#"><span class="icon-user"></span> Ingresar</a>
            </li>
            <li>
                <a href="#"><span class="icon-add_shopping_cart"></span>Carrito de compras</a>
            </li>
            
        </ul>

    </nav>

</header>
